{% extends 'base.html' %}

{% block guid %}  
  - <a href="{% url 'addstu' %}"> add new user </a>{% endblock %}
  {% block title %} 添加用户 {% endblock %} 
{% block content %}

        
    <div class="well">
        <h1>添加
        {% if request.path == "/accounts/addstu/student"   %}   
            学生
          {% elif request.path == "/accounts/addstu/teacher" %}   
           教师
          {% endif %} 
        用户</h1>
	<p>您的单位是：&nbsp;{{ operator_profile.schoolname }}，&nbsp;{{ operator_profile.districtname }}，
			&nbsp;{{ operator_profile.cityname }}，&nbsp;{{ operator_profile.provincename }}，被添加者拥有和您同样的单位</p>
	
<!-- 注册表单开始 -->
        <form class="alert alert-success" action="" method="post">
            {% csrf_token %} 
              
            <table class=""> 
            {% for field in form %} 
                <tr>
                <td>{{ field.label_tag }}</td> <td>{{ field }} </td><td>{{ field.errors }}</td>
                </tr>
                <tr><td> &nbsp &nbsp </td></tr>
            {% endfor %}   
            </table>     
            
            <p class="form-actions">
                <input type="submit" value="add" class="btn btn-primary">
             
            </p>
        </form>
    </div>

{% endblock %}
