{% extends 'base.html' %}
{% load staticfiles %}

  {% block title %} register {% endblock %} 

{% block content %}


<div id="reg_div" class="panel panel-primary"  style="display:block">
    <div class="panel-heading">
        <h3 class="panel-title">第二步：填写账号</h3>
    </div>
    <div class="panel-body"> 
<h4 id=" " >
您选择的学校是：{{ sheng }}{{ shi }}{{ qu }}{{ xiao }}{{ ban }}
</h4>      
<h3 id="msg" >
{{ msg }} 
</h3>
<!-- 注册表单开始 -->
        <form class="form-horizontal" action="{% url 'register' %}" method="post">
            {% csrf_token %}

               
            <table class=""> 
            {% for field in form %} 
                <tr>
                <td>{{ field.label_tag }}</td> <td>{{ field }} </td><td>{{ field.errors }}</td>
                </tr>
                <tr><td> &nbsp &nbsp </td></tr>
            {% endfor %}   
                
    
            </table> 



   
            <p class="form-actions">
                <input type="submit" value="注册" class="btn btn-primary">
             
            </p>

<!--  此处的input一定要有name ，因为后台获取数据要靠name而不是id-->
<!--  name和id的区别：多数情况用id；个别情况用name。参考 https://blog.csdn.net/qq_35038153/article/details/70215356 -->
 <input type='hidden' id='province' name='pro' value="{{ sheng }}" />
 <input type='hidden' id='city' name='cit' value="{{ shi }}" />
 <input type='hidden' id='district' name='dis' value="{{ qu }}" />
 <input type='hidden' id='school' name='sch' value="{{ xiao }}" />
 <input type='hidden' id='class' name='cla' value="{{ ban }}" />
         
        </form>
    </div>
</div>



{% endblock %}
