{% extends 'base.html' %}
{% load staticfiles %}

  {% block title %} register {% endblock %} 
{% block head %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/Popt.js' %}"></script>
<script src="{% static 'js/cityJson.js' %}"></script>
<script src="{% static 'js/citySet.js' %}"></script>
<style type="text/css">

._citys { width: 450px; display: inline-block; border: 2px solid #eee; padding: 5px; position: relative; }
._citys span { color: #56b4f8; height: 15px; width: 15px; line-height: 15px; text-align: center; border-radius: 3px; position: absolute; right: 10px; top: 10px; border: 1px solid #56b4f8; cursor: pointer; }
._citys0 { width: 100%; height: 34px; display: inline-block; border-bottom: 2px solid #56b4f8; padding: 0; margin: 0; }
._citys0 li { display: inline-block; line-height: 34px; font-size: 15px; color: #888; width: 80px; text-align: center; cursor: pointer; }
.citySel { background-color: #56b4f8; color: #fff !important; }
._citys1 { width: 100%; display: inline-block; padding: 10px 0; }
._citys1 a { width: 83px; height: 35px; display: inline-block; background-color: #f5f5f5; color: #666; margin-left: 6px; margin-top: 3px; line-height: 35px; text-align: center; cursor: pointer; font-size: 13px; overflow: hidden; }
._citys1 a:hover { color: #fff; background-color: #56b4f8; }
.AreaS { background-color: #56b4f8 !important; color: #fff !important; }
</style>
        <script>
            $(document).ready(function(){
                $("#submit1").click(function(){ 
                    //在与服务器通讯较慢时给用户提示信息 
                    $("#result").text("数据请求中，请稍后...");
                    var a = $("#city").val();
                    //通过get函数的方式，第一个参数是请求的url，第二个参数是提交的数据，第三个是请求成功的回调函数
                    $.getJSON("{% url 'select_school' %}",{'a':a}, function(ret){ 
                        var html='';     
                        if(ret.length > 0){    
                            html += '请在下面选择您所在学校, 然后提交。</br>';               
                            $.each(ret, function(i,item){
                                // i 为索引，item为遍历值
                                if(i == 0){
                                    //继续向下循环，开始第二条，即跳过i==0这一条，而继续i==1开始；这条记录的是查询时间；i==0这一条，返回的是查询时间
                                    return true;
                                }
                                //使用单引号，但是它的下一层，要使用双引号
                                html += '<label for="school_index_'+i+'" ><input type="radio" name="school" value="'+item+'" id="school_index_'+i+'">'+item+'</label></br>';
                            });   
                            html += '如果没有您的学校，请咨询您的老师。</br>'; 
                            html += "<input type='hidden' name='location' value="+a+"/> ";
                            html += '<input type="submit" value="提交" class="btn btn-primary" id="submit2">';
                            
                        }
                        else{
                            html += '您所选地区没有学校！请咨询您的老师。'
                        }
                        $("#result").empty();//清空输出区域                       
                        $('#result').html(html);//在输出区域显示内容
                    });                   
                });
            });
        </script>
{% endblock %}
{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">第一步：选择学校</h3>
    </div>
    <div class="panel-body">
        您的所在地：<input type="text" id="city"  />  <br>
  
                <script type="text/javascript">
                $("#city").click(function (e) {
                    SelCity(this,e);
                });
                </script>
            <input type="button" value="查询" class="btn btn-primary" id='submit1'>
            <p>  </p>
           
          
            
        <form name=form1 action="{% url 'select_school_ajax_check' %}" method="POST" >
        {% csrf_token %}

                     <br>
                    <p> <span id='result'> </span></p>
                     
         </form>
    </div>
</div>














{% endblock %}
