{% extends 'base.html' %}
{% load staticfiles %}

  {% block title %} index {% endblock %} 
{% block head %}
{% endblock %}
  


    {% block navbar_right %} 
    {% endblock %}
  

{% block content %}


                  <h4>
                  {{ msg }}
                  </h4>
  {% if not user.is_authenticated %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">登录</h3>
    </div>
    <div class="panel-body">
        <form  class="form-horizontal" action="" method="post">
            {% csrf_token %}
             <table class=""> 
            {% for field in form %} 
                <tr>
                <td>{{ field.label_tag }}</td> <td>{{ field }} </td><td>{{ field.errors }}</td>
                </tr>
                <tr><td> &nbsp &nbsp </td></tr>
            {% endfor %}   
            </table> 

            <p class="form-actions">
                
                <a href="{% url 'register' %}">忘记用户名</a>
                <a href="{% url 'fgtpwd' %}">忘记密码</a>
                <a href="{% url 'select_school' %}">新用户注册</a>
            </p>
                <input type="submit" class="btn btn-primary" value="登录"></input>
        </form>
    </div>
</div>

  {% endif %} 

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">待做任务</h3>
    </div>
    <div class="panel-body">        
      <p>作业<a href="{% url 'home' %}">抑郁自评量表</a></p>
      <p>考试<a href="{% url 'home' %}">个人档案</a></p>
      <p>问卷<a href="{% url 'home' %}">抑郁自评量表</a></p>
      <p>档案<a href="{% url 'home' %}">个人档案</a></p>
      <p>预约<a href="{% url 'home' %}">抑郁自评量表</a></p>
      <p>聊天<a href="{% url 'home' %}">个人档案</a></p>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">最新动态</h3>
    </div>
    <div class="panel-body">
      <p>***完成了作业<a href="{% url 'home' %}">抑郁自评量表</a></p>
      <p>***完成了考试<a href="{% url 'home' %}">抑郁自评量表</a></p>
      <p>***完成了问卷<a href="{% url 'home' %}">抑郁自评量表</a></p>
      <p>***更新了档案<a href="{% url 'home' %}">抑郁自评量表</a></p>
      <p>***完成了预约<a href="{% url 'home' %}">抑郁自评量表</a></p>
      <p>***发表了评论<a href="{% url 'home' %}">抑郁自评量表</a></p>
    </div>
</div>





         
<!-- if stu.同学 -->
  {% if perms.account.is_student %}
    <p><h3>最新动态</h3></p>
    <div class="well">
      <p>***完成了<a href="{% url 'home' %}">抑郁自评量表</a></p>
      <p>***更新了<a href="{% url 'home' %}">个人档案</a></p>
     </div>

  {% endif %}
<!-- if tea.老师 -->
  {% if perms.account.is_teacher %}
    <p><h3>最新动态</h3></p>
    <div class="well">

      <p>***老师发布了<a href="{% url 'home' %}">抑郁筛查</a>任务</p>
      <p>***老师发表了<a href="{% url 'home' %}">如何摆脱考试焦虑</a></p>
      <p>***同学完成了<a href="{% url 'home' %}">抑郁自评量表</a></p>
      <p>***同学更新了<a href="{% url 'home' %}">个人档案</a></p>
      <p>***同学完成了咨询<a href="{% url 'home' %}">查看</a></p>

     
      <p><a href="{% url 'home' %}">入学测试</a>任务完成了65%</p>
      <p><a href="{% url 'home' %}">抑郁筛查</a>任务完成了95%</p>
      
      <p><a href="{% url 'home' %}">抑郁自评量表</a>完成了6588人次</p>
      <p><a href="{% url 'home' %}">个人档案</a>共1288份</p></div>



  {% endif %}

  {% endblock %} 



